.header.navbar {
	position: sticky;
	top: 0;
  max-width: $navbar-max-width;
  overflow-x: hidden;
  border: none;
  box-shadow: none;
  z-index: 100;
	border-radius: 0;
	backdrop-filter: blur(8px);
	margin-left: auto;
  margin-right: auto;

	&.is-sticky {
		box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.19);
	}
	
	// @media (min-width: $screen-md-min) {
	// 	padding: $navbar-padding 0;
	// }

  .logo {
		position: absolute;
		height: 48px;
		width: 48px;
		top: 15px;

    @media (max-width: $screen-xs) {
      left: $spacer--small;
    }
	}

  .container {
		margin: 0px -15px 0 -23px;
	}

	.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
		border-radius: 4px;
		
		.icon-bar {
			display: block;
			width: 25px;
			height: 2px;
			border-radius: 1px;
			@include themed() {
				background-color: t($text);
			}
		}
		.icon-bar:not(:last-of-type) {
			margin-bottom: 4px;
		}
	}

  .navbar-collapse {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    width: auto;
		float: right;

    .nav {
      list-style-type: none;
      padding: 0;
      overflow: hidden;
		}

		.navbar-nav > li > a {
			font-family: 'CarmenSans-Medium';
			color: $mid-gray;
			text-decoration: none;
			cursor: pointer;
		}

		.navbar-nav > li.active > a {
			font-family: 'CarmenSans-SemiBold';

			@include themed() {
				color: t($nav-text);
			}
		}

    .header__links {
			float: left;
			
			@media (max-width: $screen-sm-max) {
				float: none;
			}
		}
  }

  &__utility,
  &__links {
    list-style: none;
  }

	.header-link {
    a {
      svg {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
	.container {
		padding: 0 94px;
	}

	.navbar-header {
		float: left;

		.navbar-toggle {
			display: none;
		}
	}

	.theme-toggle > span {
		margin: 5px 0 0 ($spacer--default + 5px);
	}

	.navbar-collapse.collapse {
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important;

		.navbar-right {
			float: right !important;
			margin-right: -15px;
		}

		.navbar-nav {
			margin: 0;
		}

		.navbar-nav > li {
			float: left;
			padding: 8px 0;
		}

		.navbar-nav > li > a {
			font-size: $font-size--navbar;
		}

		.navbar-nav > li:not(.active):hover > a{
			filter: opacity(0.5)
		}

		.navbar-nav > li.active > a::before {
			content: ' ';
			display: block;
			height: 6px;
			width: 6px;
			border-radius: 50%;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			transition: width .3s ease-in-out;
			@include themed() {
				background-color: t($nav-selector-color)
			}
		}
	}
}

@media (min-width: $screen-lg-min) {
	.container {
		padding: 0 140px;
	}

	.theme-toggle > span {
		margin: 12px 0 0 ($spacer--default + 5px);
	}
}

@media (max-width: $screen-sm-max) {
  .header.navbar {
		$padding: $page-padding-mobile + 5;
		margin-bottom: $spacer--small;
		padding: $padding 0;
		top: 0;
  	margin: 0 auto;
		
		.container {
			padding: 0 $spacer--large;
		}

		.header-link {
			margin: 0 28px;
		}

    .navbar-nav {
			margin: 7.5px -28px;
      margin-top: 0;
      margin-bottom: 0;
		}

		.navbar-nav > li > a {
			font-size: $font-size--tertiary;
		}

		.navbar-nav > li.active{
			@include themed() {
				background: t($hover);
			}
		}

		.navbar-nav > li:hover {
			@include themed() {
				background: t($hover);
			}
			a {
				@include themed() {
					color: t($nav-text);
				}
			}
		}

		.navbar-nav > li.active > a::before {
			content: "";
			height: 100%;
			position: absolute;
			left: 2px;
			top: 0;
			transform: translateX(-50%);
			transition: width .3s ease-in-out;
			width: 4px;
			@include themed() {
				background-color: t($nav-selector-color)
			}
		}

    .navbar-toggle {
      &:hover, &:focus {
        @include themed() {
          background: t($hover);
        }
      }
    }

    .logo {
			height: 32px;
			width: 32px;
			top: 18px;
		}
		
		.theme-toggle {
			padding: 5px;
			span {
				height: 25px;
				width: 25px;
				margin: 5px 0 0 30px;
			}
		}

    .navbar-collapse {
      border-color: transparent;
      overflow-x: hidden;
			width: 100%;
      margin: $spacer--small 0 $spacer--small 0;
      @include card-shadow;

      .header__links {
        float: none;
      }

      @include themed() {
        background: t($card-bg);
      }
    }
  }
}
