@import 'variables';

//shortcuts
$bg: 'bg';
$text: 'text';
$nav-text: 'nav-text';
$nav-selector-color: 'nav-selector-color';
$article-content-color: 'article-content-color';
$article-subcontent-color: 'article-subcontent-color';
$hero-heading-color: 'hero-heading-color';
$social-icons-color: 'social-icons-color';

//themes
$themes: (
  default: (
    bg: $tuna,
    text: $athens-gray,
    nav-text: $athens-gray,
    nav-selector-color: $texas-rose,
    article-content-color: $athens-gray,
    article-subcontent-color: $alto,
    hero-heading-color: $athens-gray,
    social-icons-color: white
  ),
  light: (
    bg: $desert-storm,
    text: $mine-shaft,
    nav-text: $texas-rose,
    nav-selector-color: $mid-gray,
    article-content-color: $mine-shaft,
    article-subcontent-color: $dove-gray,
    hero-heading-color: $mine-shaft,
    social-icons-color: black
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
