@import '_variables.scss';

//shortcuts
$bg: 'bg';
$text: 'text';
$nav-text: 'nav-text';
$nav-selector-color: 'nav-selector-color';

//themes
$themes: (
  default: (
    bg: $tuna,
    text: $athens-gray,
    nav-text: $athens-gray,
    nav-selector-color: $texas-rose
  ),
  light: (
    bg: $desert-storm,
    text: $mine-shaft,
    nav-text: $texas-rose,
    nav-selector-color: $mid-gray
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
