@font-face {
  font-family: "CarmenSans-Regular";
  src: url("~assets/fonts/CarmenSansRegular.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/CarmenSansRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~assets/fonts/CarmenSansRegular.otf") format("opentype"), /* Open Type Font */
    url("~assets/fonts/CarmenSansRegular.svg") format("svg"), /* Legacy iOS */
    url("~assets/fonts/CarmenSansRegular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("~assets/fonts/CarmenSansRegular.woff") format("woff"), /* Modern Browsers */
    url("~assets/fonts/CarmenSansRegular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CarmenSans-Heavy";
  src: url("~assets/fonts/CarmenSansHeavy.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/CarmenSansHeavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~assets/fonts/CarmenSansHeavy.otf") format("opentype"), /* Open Type Font */
    url("~assets/fonts/CarmenSansHeavy.svg") format("svg"), /* Legacy iOS */
    url("~assets/fonts/CarmenSansHeavy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("~assets/fonts/CarmenSansHeavy.woff") format("woff"), /* Modern Browsers */
    url("~assets/fonts/CarmenSansHeavy.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CarmenSans-Medium";
  src: url("~assets/fonts/CarmenSansMedium.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/CarmenSansMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~assets/fonts/CarmenSansMedium.otf") format("opentype"), /* Open Type Font */
    url("~assets/fonts/CarmenSansMedium.svg") format("svg"), /* Legacy iOS */
    url("~assets/fonts/CarmenSansMedium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("~assets/fonts/CarmenSansMedium.woff") format("woff"), /* Modern Browsers */
    url("~assets/fonts/CarmenSansMedium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CarmenSans-Bold";
  src: url("~assets/fonts/CarmenSansBold.eot"); /* IE9 Compat Modes */
  src: url("~assets/fonts/CarmenSansBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("~assets/fonts/CarmenSansBold.otf") format("opentype"), /* Open Type Font */
    url("~assets/fonts/CarmenSansBold.svg") format("svg"), /* Legacy iOS */
    url("~assets/fonts/CarmenSansBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("~assets/fonts/CarmenSansBold.woff") format("woff"), /* Modern Browsers */
    url("~assets/fonts/CarmenSansBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
