.ico-hero {
	height: $icon-hero;
	width: $icon-hero;
	background: url("~assets/images/svg/avatar.svg") no-repeat center center transparent;
}

.ico-sun {
	height: $icon-theme-switcher;
	width: $icon-theme-switcher;
	margin: 0 0 0 $spacer--medium;
	background: url("~assets/images/svg/sun.svg") no-repeat center center transparent;
}

.ico-moon {
	height: $icon-theme-switcher;
	width: $icon-theme-switcher;
	margin: 0 0 0 $spacer--medium;
	background: url("~assets/images/svg/moon.svg") no-repeat center center transparent;
}

.icon {
	display: inline-block;
	background-size: contain;
}

.icon-btn {
	background-color: transparent !important;
}