.header {
	&__container {
		display: flex;
	}

	&__nav {
		display: flex;
		flex: 1;
		justify-content: flex-end;
		align-items: center;
	}
}

.article {
	margin-top: $article-margin-top;
	margin-top: get-vw($article-margin-top);
}

.hero {
	&__container {
		display: inline-flex;
		width: fit-content;
		@include themed() {
			color: t($social-icons-color);
		}
	}
	&__main {
		height: $hero-main-height;
		height: get-vw($hero-main-height);
		width: $hero-main-width;
		width: get-vw($hero-main-width);
		background-image: url('~assets/images/svg/ponnex-avatar.svg');
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
	}
}

.social {
	&__container {
		margin-top: $social-icons-margin-top;
		margin-top: get-vw($social-icons-margin-top);
		span:not(:last-child) {
			margin-right: $spacer--social-icon;
		}
	}
}