@import '_variables.scss';

body,
html {
    padding: 0;
    margin: 0;

    font-family: 'GothamHTF', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #2F292B;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    // background-color: $salmon-color;
    background-color: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.m-br {
    display: block;
}

.visually-hidden {
    /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
