@import 'fonts.scss';
@import 'global.scss';
@import '_atoms.scss';
@import '_molecules.scss';
@import '_variables.scss';
@import '_color-themes.scss';

.theme {
  height: 100vh;
  width: 100%;
}

.base {
	@include themed() {
		color: t($text);
    background: t($bg);
	}

	&:after {
    content: '';
    position: fixed;
    width: 100%;
    overflow-y: auto;
    min-height: 100vh;

    @include themed() {
      background: t($bg);
    }
  }
}